body {
    background-color: rgb(76, 67, 62);
    color: #dfd9d1
}
a {
    color: #31d2f6;
}
p {
    font-family: sans-serif;
}
.altlink {
    color: #ad60e6;
    background-color: #352816;
}
.attention {
    font-family: "Fugaz One", sans-serif;
    font-weight: normal;
}
.faded {
    opacity: 50%;
}
.hint {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}
.project-entry {
    overflow: auto;
    margin-bottom: 25px;
}