#redbody {
    background-color: #b00000;
    background-image: image-set("images/redx.png");
    background-repeat: repeat;
}

#fancy {
    font-family: Jokerman, serif;
    text-align: center;
}

@font-face {
    font-family: "Nishiki Teki Lili";
    src: url("./nishiki-teki-lili.ttf") format("truetype");
}
#tp {
    font-family: "Nishiki Teki Lili", serif;
}
