body {
    background-color: rgb(60, 53, 49);
    color: #cac2bd;
    padding: 0 5%;
}
a {
    color: #31d2f6
}
p {
    font-family: sans-serif
}
hr {
    color: #cac2bd
}
.altlink {
    color: #ad60e6;
    background-color: #352816;
}
.attention {
    font-family: "Fugaz One", sans-serif;
    font-weight: normal;
}
.faded {
    opacity: 50%
}
.hint {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}
.project-entry {
    overflow: auto;
    margin-bottom: 25px;
}